.title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    color: var(--mantine-color-blue-7);
    line-height: 1;
  }

  .header {
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }

  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .responsiveContainer {
    max-width: rem(300px);
    height: 60; 
    @media (min-width: em(400px)) {
      max-width: rem(400px);
    }
  
    @media (min-width: em(600px)) {
      max-width: rem(600px);
    }
  }